name: Build
on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: sudo apt-get install -y libgmp-dev
      - name: Build frobby (make)
        run: make
      - name: Check frobby (make)
        run: make test
      - name: Clean up
        run: make clean
      - name: Build frobby (cmake)
        run: |
          mkdir -p build/cmake
          cd build/cmake
          cmake -B. -S../.. -GNinja
          ninja
