name: Build
on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        build-system:
          - make
          - cmake
        os:
          - macos-latest
          - ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up environment
        run: |
          if test ${{ matrix.os }} = macos-latest
          then echo "CPPFLAGS=-I$(brew --prefix)/include" >> $GITHUB_ENV
               echo "LDFLAGS=-L$(brew --prefix)/lib"      >> $GITHUB_ENV
          fi
      - name: Build frobby
        run: |
          if test ${{ matrix.build-system }} = make
          then make -j4
          else mkdir -p build/cmake
               cd build/cmake
               cmake -B. -S../.. -GNinja
               ninja
          fi
      - name: Check frobby
        run: |
          if test ${{ matrix.build-system }} = make
          then make test
          fi
